/* fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:wght@500&display=swap');

/* Header */

.main-section {
    margin: 80px 100px;
}

header {
    margin-bottom: 60px;
}

header h1 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
    font-size: 1.25em;
}


/* initial section */

.initial-section {
    display: flex;
    margin-bottom: 100px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right 70px top;
    background-size: 27%;
}

.half-width {
    width: 50%;
}

.initial-section h1 {
    font-size: 70px;
}

.half-width img {
    margin-left: 315px;
    margin-top: 20px;
}

.half-width:hover img {
    transform: scale(1.5) rotate3d(5, 0, 0, 45deg);
    transition: 3s ease-in-out;
}

.half-width p {
    font-size: 1.30em;
    margin-bottom: 30px;
}

.link-btn {
    padding: 10px 20px;
    background-color: #E02C6D;
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    border-radius: 40px;
}

.fa-arrow-right {
    margin-left: 10px;
    margin-top: 10px;
}

.site-view img {
    width: 7%;
    margin-left: 70px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* middle-section */

.middle-section {
    margin-top: 100px;
    margin-bottom: 150px;
}

.popular-title {
    text-align: center;
    margin-bottom: 80px;
    font-size: 25px;
}

.popular-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 300px;
    margin-right: 300px;
}

.product-section {
    width: 330px;
    Height: 510px;
    flex-direction: column;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    box-shadow: 0px 0px 40px rgba(157, 207, 207, 0.507);
    border-radius: 20px;
    margin-bottom: 30px;
}

.product-image {
    margin-top: 20px;
    margin-left: 15px;
}

.product-info {
    margin-left: 15px;
    padding-bottom: 50px;
}

.product-info h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.product-info h2 {
    font-size: 30px;
    font-weight: 200;
    margin: auto;
    margin-bottom: 10px;
}

.product-info p {
    font-family: 'Inter', sans-serif;
    margin: auto;
}

.fa-star.filled {
    color: #FB8200;
    font-size: 13px;
}

.fa-star-half-alt {
    color: #FB8200;
    font-size: 13px;
}

.ratings {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 110px;
    margin-bottom: 10px;
}

.btn-see-more {
    color: #E02C6D;
    text-decoration: none;
    margin-left: 210px;
    font-size: 1.30em;
    font-weight: 700;
}


/* bonus section */

.bonus-section {
    display: flex;
    margin-bottom: 150px;
}

.explore {
    width: 50%;
}

.explore img {
    width: 70%;
    margin-left: 150px;
    box-shadow: 0px 0px 40px rgba(121, 201, 201, 0.507);
    border-radius: 20px;
    animation: explore;
}

.explore:hover img {
    transform: scale(1.2) rotate3d(5, -3, 2, 45deg);
    transition: 3s ease-in-out;
}

.explore h1 {
    font-size: 50px;
}

.explore p {
    font-family: 'Inter', sans-serif;
    font-size: 1.25em;
}


/* footer section */

footer {
    text-align: center;
    background-color: rgb(5, 5, 77);
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

footer h1 {
    font-size: 1.80em;
}

footer p {
    font-size: 1.25em;
}

footer a {
    font-size: 1.50em;
    margin-right: 20px;
    color: white;
    box-shadow: 90px rgb(245, 245, 245);
    border-radius: 50px;
}

.copyright {
    font-size: 15px;
}


/* responsive section for mobile 0px - 576px */

@media screen and (max-width :576px) {
    .main-section {
        margin-left: 20px;
    }
    nav {
        flex-direction: column;
    }
    nav a {
        display: none;
    }
    header h1 {
        font-size: 30px;
    }
    .initial-section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-image: none;
    }
    .half-width h1 {
        font-size: 30px;
        width: max-content;
        text-align: center;
    }
    .half-width P {
        text-align: center;
    }
    .half-width img {
        margin-left: 2px;
        width: 250px;
    }
    .link-btn {
        font-size: 10px;
        margin-right: auto;
        margin-left: 30px;
    }
    .popular-section {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-right: 15px;
        margin-left: 2px;
    }
    .product-section {
        width: 330px;
        Height: 510px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 40px rgba(157, 207, 207, 0.507);
        border-radius: 20px;
        margin-bottom: 30px;
        margin-top: 20px;
        padding: 10px;
    }
    .product-image img {
        width: 290px;
    }
    .btn-see-more {
        margin-top: 30px;
    }
    .action-camera {
        padding-top: 50px;
    }
    .bonus-section {
        display: grid;
        grid-auto-columns: 1fr;
    }
    .bonus-section img {
        margin-left: 0;
        width: 250px;
    }
    .explore h1 {
        font-size: 28px;
        width: max-content;
        text-align: center;
    }
    .explore p {
        text-align: center;
    }
}


/* responsive section for tablet 0px - 768px */

@media (min-width: 577px) and (max-width: 768px) {
    body {
        background-color: rgb(229, 239, 241);
    }
    .main-section {
        margin-left: 20px;
    }
    nav {
        flex-direction: column;
    }
    nav a {
        display: none;
    }
    header h1 {
        font-size: 30px;
    }
    .initial-section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-image: none;
    }
    .half-width h1 {
        font-size: 40px;
        width: max-content;
        text-align: center;
    }
    .half-width P {
        text-align: center;
        margin-left: 100px;
    }
    .half-width img {
        margin-left: 80px;
        width: max-content;
        align-items: center;
    }
    .link-btn {
        font-size: 20px;
    }
    .popular-section {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        margin-right: 15px;
        margin-left: 2px;
    }
    .product-section {
        width: 330px;
        Height: 510px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 40px rgba(157, 207, 207, 0.507);
        border-radius: 20px;
        margin-bottom: 30px;
        margin-top: 20px;
        padding: 10px;
    }
    .bonus-section {
        display: grid;
        text-align: center;
    }
    .bonus-section img {
        width: 250px;
    }
    .explore h1 {
        font-size: 20px;
        margin-left: 100px;
        width: max-content;
    }
    .explore p {
        margin-left: 120px;
    }
    .link-btn {
        font-size: 20px;
        margin-right: auto;
        margin-left: 100px;
    }
}